<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lottery.infrastructure.persistent.dao.RuleTreeMapper">

    <resultMap id="BaseResultMap" type="com.lottery.infrastructure.persistent.po.RuleTree">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="treeId" column="tree_id" jdbcType="VARCHAR"/>
            <result property="treeName" column="tree_name" jdbcType="VARCHAR"/>
            <result property="treeDesc" column="tree_desc" jdbcType="VARCHAR"/>
            <result property="treeNodeRuleKey" column="tree_node_rule_key" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

</mapper>
