<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lottery.infrastructure.dao.ActivityAccountDayMapper">

    <resultMap id="BaseResultMap" type="com.lottery.infrastructure.dao.po.ActivityAccountDay">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="VARCHAR"/>
            <result property="activityId" column="activity_id" jdbcType="BIGINT"/>
            <result property="day" column="day" jdbcType="VARCHAR"/>
            <result property="dayCount" column="day_count" jdbcType="INTEGER"/>
            <result property="dayCountSurplus" column="day_count_surplus" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>
    <update id="updateAccount">
        update activity_account_day
        set day_count_surplus = day_count_surplus + #{dayCountSurplus},
            day_count = day_count + #{dayCount},
            update_time = now()
        where user_id = #{userId} and activity_id = #{activityId} and day = #{day}
    </update>

</mapper>
