<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lottery.infrastructure.dao.BehaviorRebateMapper">

    <resultMap id="BaseResultMap" type="com.lottery.infrastructure.dao.po.BehaviorRebate">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="behaviorType" column="behavior_type" jdbcType="VARCHAR"/>
            <result property="rebateDesc" column="rebate_desc" jdbcType="VARCHAR"/>
            <result property="rebateType" column="rebate_type" jdbcType="VARCHAR"/>
            <result property="rebateConfig" column="rebate_config" jdbcType="VARCHAR"/>
            <result property="state" column="state" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

</mapper>
