<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lottery.infrastructure.dao.TaskMapper">

    <resultMap id="BaseResultMap" type="com.lottery.infrastructure.dao.po.Task">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="topic" column="topic" jdbcType="VARCHAR"/>
        <result column="user_id" property="userId"/>
        <result column="message" property="message"/>
        <result property="message" column="message" jdbcType="VARCHAR"/>
        <result property="state" column="state" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

</mapper>
