<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lottery.infrastructure.dao.UserOrderMapper">

    <resultMap id="BaseResultMap" type="com.lottery.infrastructure.dao.po.UserOrder">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="VARCHAR"/>
            <result property="activityId" column="activity_id" jdbcType="BIGINT"/>
            <result property="orderId" column="order_id" jdbcType="VARCHAR"/>
            <result property="activityName" column="activity_name" jdbcType="VARCHAR"/>
            <result property="strategyId" column="strategy_id" jdbcType="BIGINT"/>
            <result property="orderTime" column="order_time" jdbcType="TIMESTAMP"/>
            <result property="orderState" column="order_state" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

</mapper>
