<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lottery.infrastructure.es.EsCreditAccountMapper">
    <resultMap id="BaseResultMap" type="com.lottery.infrastructure.es.po.EsCreditAccount">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="userId" column="_user_id" jdbcType="VARCHAR"/>
        <result property="activityId" column="_activity_id" jdbcType="BIGINT"/>
        <result property="totalAmount" column="_total_amount" jdbcType="DECIMAL"/>
        <result property="availableAmount" column="_available_amount" jdbcType="DECIMAL"/>
        <result property="accountStatus" column="_account_status" jdbcType="VARCHAR"/>
        <result property="createTime" column="_create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="_update_time" jdbcType="TIMESTAMP"/>
    </resultMap>
    <select id="queryCreditAccount" resultMap="BaseResultMap">
        select _user_id, _activity_id,_total_amount, _available_amount, _account_status, _create_time, _update_time
        from "marketing.credit_account"
        order by _update_time desc
    </select>
</mapper>